.grid-parent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
    margin-bottom: 1em;
}

.grid-child {
    min-height: 1em;
    background-color: beige;
}

.grid-layout-parent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    gap: 1em;
    margin-bottom: 1em;
}

.grid-layout-chess {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 1em;
}

.grid-child {
    aspect-ratio: 1;
    background-color: coral;
    transition: 0.55;
}

.grid-child-chess:nth-child(-n+8):nth-child(even),


.grid-child-chess:hover {
    background-color: black !important;
}

.grid-assign-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
    margin-bottom: 1em;
}

.grid-assign-child {
    min-height: 1em;
    background-color: #d6d6d6;
}

.grid-assign-special-child {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    background-color: coral;
}

.grid-area-parent {
    display: grid;
    grid-template-columns: 2fr, 5fr;
    gap: 1em;
}

.grid-area-parent {
    grid-template-columns: 2fr 5fr;
    gap: 1em;
    margin-bottom: 1em;
    grid-template-areas: 
    'sidebar' 
    'siderbar main';
}

.grid-area-child {
    min-height: 1em;
    background-color: #d6d6d6;
}

.area-header {
    grid-area: sidebar;
}

.area-main {
    grid-area: main;
}

.grid-alignment-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    background-color: #006060;
    min-height: 15em;
}

.grid-alignment-child {
    width: 100px;
    min-height: 1em;
    background: #d6d6d6;
    
}

